USE [master]
GO
/****** Object:  Database [TemisDB]    Script Date: 6/7/2024 2:05:59 AM ******/
CREATE DATABASE [TemisDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TemisDB', FILENAME = N'C:\SQLData\TemisDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TemisDB_log', FILENAME = N'C:\SQLData\Logs\TemisDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TemisDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TemisDB]
GO
/****** Object:  Table [dbo].[Abogados]    Script Date: 6/7/2024 2:06:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abogados](
	[ID_Abogados] [nvarchar](6) NOT NULL,
	[NombreAbogado] [nvarchar](50) NOT NULL,
	[ApellidosAbogado] [nvarchar](50) NOT NULL,
	[DUIAbogado] [nvarchar](10) NOT NULL,
	[EspecialidadAbogado] [nvarchar](20) NOT NULL,
	[TelefonoAbogado] [nvarchar](15) NOT NULL,
	[EmailAbogado] [nvarchar](50) NOT NULL,
	[CSJ] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Abogados] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asistentes]    Script Date: 6/7/2024 2:06:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistentes](
	[ID_Asistente] [int] NOT NULL,
	[pNombre] [varchar](50) NULL,
	[sNombre] [varchar](50) NULL,
	[pApellido] [varchar](50) NULL,
	[sApellido] [varchar](50) NULL,
	[DUI] [int] NULL,
	[WorkedHrs] [float] NULL,
 CONSTRAINT [PK_Asistentes] PRIMARY KEY CLUSTERED 
(
	[ID_Asistente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Casos]    Script Date: 6/7/2024 2:06:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Casos](
	[ID_Case] [nvarchar](6) NOT NULL,
	[Caso_Nombre] [nvarchar](50) NOT NULL,
	[Tipo_Facturacion] [nvarchar](50) NOT NULL,
	[PrecioCaso] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Case] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 6/7/2024 2:06:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID_Cliente] [nvarchar](6) NOT NULL,
	[PrimNombre] [nvarchar](50) NOT NULL,
	[SegNombre] [nvarchar](50) NOT NULL,
	[PrimAprellido] [nvarchar](50) NOT NULL,
	[SegAprellido] [nvarchar](50) NOT NULL,
	[DUI] [nvarchar](10) NOT NULL,
	[Client_Edad] [nvarchar](3) NOT NULL,
	[Nacionalidad] [nvarchar](50) NOT NULL,
	[Ocupacion] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](500) NOT NULL,
	[Telefonoo] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documentos]    Script Date: 6/7/2024 2:06:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentos](
	[ID_Documento] [int] NULL,
	[Nombre_Documento] [varchar](50) NULL,
	[ID_Cliente] [int] NULL,
	[NombreCliente] [nchar](10) NULL,
	[Case_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 6/7/2024 2:06:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[ID_Factura] [int] NOT NULL,
	[Case_ID] [int] NULL,
	[WorkedHrs] [float] NULL,
	[Caso_Nombre] [varchar](50) NULL,
	[Tipo_Facturacion] [varchar](50) NULL,
	[ID_Cliente] [int] NULL,
	[ID_Abogado] [int] NULL,
	[Nombre_Cliente] [varchar](100) NULL,
	[Nombre_Abogado] [varchar](1000) NULL,
 CONSTRAINT [PK_Facturaciones] PRIMARY KEY CLUSTERED 
(
	[ID_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IDControl]    Script Date: 6/7/2024 2:06:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDControl](
	[TableName] [nvarchar](50) NOT NULL,
	[LastID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[actualizar]    Script Date: 6/7/2024 2:06:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[actualizar] @id int ,@PrimerNombre varchar(50),@SegNombre varchar(50),@PrimApellido varchar(50),@SegApellido varchar(50),
@DUI int,@Client_Edad int,@Nacionalidad Varchar(50),@Ocupacion varchar(50),
@Direccion varchar(50),@Telefono Varchar (50),@Email varchar(100) as 
update Clientes set PrimNombre=@PrimerNombre,SegNombre=@SegNombre,PrimApellido=@PrimApellido,SegApellido=@SegApellido, DUI=@DUI, Client_Edad=@Client_Edad, 
Nacionalidad=@Nacionalidad,Ocupacion=@Ocupacion,Direccion=@Direccion,Telefono=@Telefono,Email=@Email
where ID_Cliente=@id
GO
/****** Object:  StoredProcedure [dbo].[datosusuarios]    Script Date: 6/7/2024 2:06:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[datosusuarios] as Select * from Clientes
GO
/****** Object:  StoredProcedure [dbo].[elimnar]    Script Date: 6/7/2024 2:06:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[elimnar] @id int as delete from Clientes where ID_Cliente=@id
GO
/****** Object:  StoredProcedure [dbo].[InsertarCliente]    Script Date: 6/7/2024 2:06:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarCliente]
	@id int,
    @PrimNombre VARCHAR(50),
    @SegNombre VARCHAR(50),
    @PrimApellido VARCHAR(50),
    @SegApellido VARCHAR(50),
    @DUI int,
    @Client_Edad INT,
    @Nacionalidad VARCHAR(50),
    @Ocupacion VARCHAR(50),
    @Direccion VARCHAR(100),
    @Telefono VARCHAR(20),
    @Email VARCHAR(100)
AS
BEGIN
    INSERT INTO clientes (ID_Cliente, SegNombre, PrimApellido, SegApellido, DUI, Client_Edad, Nacionalidad, Ocupacion, Direccion, Telefono, Email)
    VALUES (@id, @SegNombre, @PrimApellido, @SegApellido, @DUI, @Client_Edad, @Nacionalidad, @Ocupacion, @Direccion, @Telefono, @Email)
END
GO
/****** Object:  StoredProcedure [dbo].[llenar]    Script Date: 6/7/2024 2:06:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[llenar] @id int as 
select * from Clientes where ID_Cliente=@id
GO
USE [master]
GO
