@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Temis es una aplicación web desarrollada utilizando ASP.NET que proporciona funcionalidades relacionadas con la gestión de abogados y usuarios en un entorno legal.
        La aplicación está diseñada para facilitar el registro y la gestión de información de abogados, así como para permitir a los usuarios iniciar sesión y acceder a sus perfiles.

        <h2>Características Principales:</h2>

        <h3>Registro de Abogados</h3>

    <p>La aplicación permite el registro de nuevos abogados, con información detallada como nombre, apellidos, DUI, especialidad, teléfono, correo electrónico, entre otros.</p>

    <h3>Inicio de Sesión de Usuarios</h3>
    <p>Los usuarios pueden iniciar sesión utilizando un nombre de usuario y una contraseña proporcionados durante el registro.<b> Aun pendiente</b> </p>


    <h3>Gestión de Usuarios</h3>
    <p>Los abogados pueden acceder a una interfaz para ver y actualizar su información personal, como el nombre, la especialidad, el teléfono, etc.</p>


    Implementación:
    El proyecto utiliza ASP.NET Framework con el patrón de diseño MVC (Modelo-Vista-Controlador) para una estructura organizada y mantenible.
    Se han creado vistas HTML con controles ASP.NET para la presentación de datos y la interacción del usuario.
    Además, se han definido modelos para representar la estructura de datos del proyecto, como los detalles del abogado y del usuario.

    <h2>Pasos Realizados</h2>

    Se ha diseñado una interfaz de usuario utilizando HTML y controles ASP.NET para capturar y mostrar información relacionada con abogados y usuarios.
    Se ha implementado la lógica de negocio para el inicio de sesión de abogados y usuarios, así como la gestión de información personal.
    Se ha utilizado una base de datos SQL Server para almacenar la información de los abogados y usuarios.
    Se ha integrado la lógica de acceso a datos utilizando ADO.NET para realizar consultas y actualizaciones en la base de datos.

    <h4>Próximos Pasos</h4>

    Implementar más funcionalidades, como la gestión de casos legales, la programación de citas, la facturación, etc.
    Mejorar la interfaz de usuario con estilos CSS y agregar funcionalidades interactivas utilizando JavaScript.
    Realizar pruebas exhaustivas para garantizar la estabilidad y la seguridad de la aplicación.
    Desplegar la aplicación en un entorno de producción para su uso real.



</main>