@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Proyecto Programacion 2 <br />
        Universidad Tecnologica de El Salvador <br />
        San Salvador, El Salvador <br />

    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:2712072023@mail.utec.edu.sv">2712072023@mail.utec.edu.sv</a><br />
        <strong>Marketing:</strong> <a href="mailto:2712072023@mail.utec.edu.sv">2712072023@mail.utec.edu.sv</a>
    </address>
</main>