@{
    ViewBag.Title = "Temis";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">TEMIS</h1>
        <p class="lead">
            Temis es una aplicación web desarrollada utilizando ASP.NET que proporciona funcionalidades relacionadas con la gestión de abogados y usuarios en un entorno legal.
            La aplicación está diseñada para facilitar el registro y la gestión de información de abogados, así como para permitir a los usuarios iniciar sesión y acceder a sus perfiles.
        </p>
    </section>


</main>